;; -*- mode: scheme -*-
(use-modules (guix ci)
	     (guix channels))

(list
 (channel
  (name 'zaijab)
  (url "/home/zjabbar/code/guix-channel/")
  (branch "main"))
 (channel
  (name 'fake-guix)
  (url "https://github.com/grobx/guix.git")))
