;; -*- mode: scheme -*-
(define-module (zaijab channels)
  #:use-module (guix ci)
  #:use-module (guix channels))

(define-public channel-zaijab
  (list
   (channel
    (name 'zaijab)
    (url "/home/zjabbar/code/guix-channel/")
    (branch "main"))))

channel-zaijab
