;; -*- mode: scheme -*-
(define-module (zaijab home minimal-manifest)
  #:use-module (guix inferior)
  #:use-module (guix profiles)
  #:use-module (guix channels)
  #:use-module (guix transformations)
  #:use-module (guix packages)
  #:use-module (guix gexp)
  #:use-module (guix utils)
  
  #:use-module (gnu packages)
  #:use-module (gnu packages emacs)
  #:use-module (gnu packages emacs-xyz)
  #:use-module (gnu packages xorg)
  #:use-module (srfi srfi-1))


(packages->manifest (list (specification->package "make")
			  (specification->package "git")
			  (specification->package "xauth")
			  (specification->package "gnupg")
			  (specification->package "pinentry-emacs")
			  (specification->package "tree")
			  (specification->package "scrot")
			  (specification->package "mpv")))
