;; -*- mode: scheme -*-
(use-modules (guix ci)
	     (ice-9 popen)
	     (guix channels))

(define filename "/home/zjabbar/code/guix-channel/zaijab/files/channel_lock.tmpl")
(define in (open-input-file filename))
(define raw-data (eval (read in) (interaction-environment)))
(close-input-port in)

(define current-system-without-zaijab
  (cdr raw-data))

current-system-without-zaijab