;; -*- mode: scheme -*-
(use-modules (guix ci)
	     (ice-9 popen)
	     (guix channels))

(define filename "/home/zjabbar/code/guix-channel/zaijab/files/channel_lock.tmpl")
(define in (open-input-file filename))
(define raw-data (eval (read in) (interaction-environment)))
(close-input-port in)

(define master-zaijab-channel-lock
  `(,(channel (name 'zaijab)
	      (url "/home/zjabbar/code/guix-channel/")
	      (branch "main"))
   ,@(cddr raw-data)))

master-zaijab-channel-lock
